* {
    margin: 0;
  }

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #000000;
    color: #201e1e;
  }

ul{
  text-align: left;
  padding-top: 30px;
  padding-left: 44%;
  padding-bottom: 20px;
}

ul p {
  padding-bottom: 15px;
}

a {
    color: #201e1e;
    text-decoration: none;
  }

main{
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  padding-top: 30px;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  text-align: center;
}

a:hover {
    text-decoration: underline;
}

em {
    color: slateblue;
    font-style: normal;
    font-weight: bold;
  }


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}


header {
  background-color: white;
  padding: 20px 50px;
  background: linear-gradient(#ffffff, #ffffff);
}

.lien-naviguation a {
  color: snow;
  background-color: darkblue;
  box-shadow: 0 75px 50px -50px white inset, 0 0 3px black;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  line-height: 90px;
  text-align: center;
  font-size: 1.4em;
  border: 4px solid #4d4c4b;
  margin-left: 30px;
  border-radius: 0% 50% 50% 50% / 0% 50% 50% 50%;
  display: inline-block;
  transition: background 1s ease, box-shadow 1s ease;
}

.lien-naviguation a:hover {
  transition: background 1s ease, box-shadow 1s ease;
  background-color: steelblue;
  box-shadow: 0 75px 50px -50px white inset, 0 0 3px black;
}

.image-naviguation a {
  margin-left: 30px;
}

.left-nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 30px;
  top : 20px;
}

.left-nav p{
  padding-left: 20px;

}

Section{
    padding: 80px;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
}



.grid-wrapper1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  }
  
  .titre { 
    grid-area: 1 / 1 / 2 / 5;
   }
  .icones1 { 
    grid-area: 2 / 2 / 3 / 3; 
    max-width: fit-content;
    max-height: fit-content;
  }
  .icones2 { 
    grid-area: 2 / 3 / 3 / 4; 
    max-width: fit-content;
    max-height: fit-content;
  }
  .skill { 
    grid-area: 3 / 1 / 4 / 5; 
  }
  .badge1 { 
    grid-area: 4 / 1 / 5 / 5; 
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    left: 15%;
  }
  .badge2 { 
    grid-area: 4 / 1 / 5 / 5; 
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    right: 15%;
  }
  .project { 
    grid-area: 5 / 1 / 6 / 5; 
    max-width: fit-content;
    max-height: fit-content;
    font-size: 2.7em;
    border: solid 1px #000000;
    padding: 10px;
  }
  .mentor { 
    grid-area: 6 / 2 / 7 / 4; 
    font-size: 2em;

  }
  .mentor-link { 
    grid-area: 6 / 3 / 7 / 5; 
    max-width: fit-content;
    max-height: fit-content;
  }
  .photo { 
    grid-area: 1 / 5 / 7 / 8; 
    max-width: 100%;
    max-height: 100%;

  } 
  
  


